In [1]:
import pandas as pd
import numpy as np
from pycaret.regression import *

In [2]:
df1 = pd.read_excel(r"C:\Users\User\OneDrive\Desktop\Player data\Dataset\merged_ipl_2016_2017.xlsx")
df2 = pd.read_excel(r"C:\Users\User\OneDrive\Desktop\Player data\Dataset\merged_ipl_2020_2021.xlsx")
df3 = pd.read_excel(r"C:\Users\User\OneDrive\Desktop\Player data\Dataset\merged_ipl_2023_2024.xlsx")

In [4]:
df = pd.concat([df1, df2, df3], ignore_index=True)
print(df)

               Player  Runs  Mat  Inns  NO    Avg   BF      SR  100  50  ...  \
0      AB de Villiers   903   25    25   4  43.00  570  158.42    1   7  ...
1         Aaron Finch   692   26    25   3  31.45  479  144.47    0   7  ...
2          Adam Milne     7    4     3   1   3.50   12   58.33    0   0  ...
3          Adam Zampa     5   11     2   0   2.50    8   62.50    0   0  ...
4         Aditya Tare    26    6     5   0   5.20   38   68.42    0   0  ...
..                ...   ...  ...   ...  ..    ...  ...     ...  ...  ..  ...
636        Yash Dhull    16    4     3   0   5.33   23   69.57    0   0  ...
637       Yash Thakur     0    0     0   0   0.00    0    0.00    0   0  ...
638  Yashasvi Jaiswal  1060   30    29   2  39.26  661  160.36    2   6  ...
639     Yudhvir Singh    22    5     4   0   5.50   16  137.50    0   0  ...
640  Yuzvendra Chahal     0    0     0   0   0.00    0    0.00    0   0  ...

     bow_inns     Ov  bow_runs  Wkts  bow_avg   Econ  bow_sr  4w  5w  \
0           0    0.0         0     0     0.00   0.00    0.00   0   0
1           0    0.0         0     0     0.00   0.00    0.00   0   0
2           4   14.0       134     3    44.67   9.57   28.00   0   0
3          11   37.0       278    19    14.63   7.51   11.68   0   1
4           0    0.0         0     0     0.00   0.00    0.00   0   0
..        ...    ...       ...   ...      ...    ...     ...  ..  ..
636         0    0.0         0     0     0.00   0.00    0.00   0   0
637        19   66.8       691    24    28.79  10.34   16.70   1   1
638         0    0.0         0     0     0.00   0.00    0.00   0   0
639         5   12.0       122     4    30.50  10.17   18.00   0   0
640        29  110.5       978    39    25.08   8.85   17.00   1   0

     auction Price
0
1       6.2 crores
2
3
4         20 lakhs
..             ...
636
637      1.6 crore
638
639
640       18 crore

[641 rows x 23 columns]

In [5]:
import numpy as np
import re

def convert_price(price):
    if isinstance(price, str):
        price = price.strip().lower()
        num_match = re.search(r'[\d.]+', price)
        if not num_match:
            return np.nan
        num = float(num_match.group())
        if 'crore' in price:
            return num * 1e7
        elif 'lakh' in price:
            return num * 1e5
    return np.nan

In [6]:
df['auction Price'] = df['auction Price'].apply(convert_price)

# Before dropping, check how many valid entries exist
print("Total rows:", len(df))
print("Valid auction prices:", df['auction Price'].notna().sum())
print("Invalid auction prices:", df['auction Price'].isna().sum())

Total rows: 641
Valid auction prices: 304
Invalid auction prices: 337

In [7]:
print(df[['auction Price']].head())

   auction Price
0            NaN
1     62000000.0
2            NaN
3            NaN
4      2000000.0

In [8]:
df_with_target = df[df["auction Price"].notnull()].copy()
print(df_with_target)

                Player  Runs  Mat  Inns  NO    Avg   BF      SR  100  50  ...  \
1          Aaron Finch   692   26    25   3  31.45  479  144.47    0   7  ...
4          Aditya Tare    26    6     5   0   5.20   38   68.42    0   0  ...
5       Ajinkya Rahane   862   30    30   4  33.15  702  122.79    0   8  ...
6        Akshdeep Nath    20    5     4   0   5.00   28   71.43    0   0  ...
8        Ambati Rayudu   425   18    17   1  26.56  356  119.38    0   3  ...
..                 ...   ...  ...   ...  ..    ...  ...     ...  ...  ..  ...
630  Wanindu Hasaranga    33    8     5   3  16.50   28  117.86    0   0  ...
631  Washington Sundar    60    7     5   1  15.00   60  100.00    0   0  ...
633         Will Jacks   230    8     8   1  32.86  131  175.57    1   1  ...
637        Yash Thakur     0    0     0   0   0.00    0    0.00    0   0  ...
640   Yuzvendra Chahal     0    0     0   0   0.00    0    0.00    0   0  ...

     bow_inns     Ov  bow_runs  Wkts  bow_avg   Econ  bow_sr  4w  5w  \
1           0    0.0         0     0     0.00   0.00    0.00   0   0
4           0    0.0         0     0     0.00   0.00    0.00   0   0
5           0    0.0         0     0     0.00   0.00    0.00   0   0
6           0    0.0         0     0     0.00   0.00    0.00   0   0
8           0    0.0         0     0     0.00   0.00    0.00   0   0
..        ...    ...       ...   ...      ...    ...     ...  ..  ..
630         8   29.0       258     9    28.67   8.90   19.33   0   0
631         9   22.4       219     4    54.75   9.78   33.60   0   0
633         5    9.0       100     2    50.00  11.11   27.00   0   0
637        19   66.8       691    24    28.79  10.34   16.70   1   1
640        29  110.5       978    39    25.08   8.85   17.00   1   0

     auction Price
1       62000000.0
4        2000000.0
5       40000000.0
6       10000000.0
8       22000000.0
..             ...
630     52500000.0
631     32000000.0
633     52500000.0
637     16000000.0
640    180000000.0

[304 rows x 23 columns]

In [9]:
df.columns

Index(['Player', 'Runs', 'Mat', 'Inns', 'NO', 'Avg', 'BF', 'SR', '100', '50',
       '4s', '6s', 'bow_mat', 'bow_inns', 'Ov', 'bow_runs', 'Wkts', 'bow_avg',
       'Econ', 'bow_sr', '4w', '5w', 'auction Price'],
      dtype='object')

In [10]:
def augment_data(df, n_augment=2, noise_level=0.05):
    augmented_rows = []
    numeric_cols = df.select_dtypes(include=np.number).columns.drop("auction Price")  # Exclude target

    for _ in range(n_augment):
        noisy_df = df.copy()
        for col in numeric_cols:
            noise = np.random.normal(0, noise_level * df[col].std(), size=df.shape[0])
            noisy_df[col] += noise
        augmented_rows.append(noisy_df)

    return pd.concat([df] + augmented_rows, ignore_index=True)
augmented_df = augment_data(df_with_target, n_augment=2)

In [11]:


print(f"Original rows with target: {len(df_with_target)}")
print(f"Rows after augmentation: {len(augmented_df)}")
print (augmented_df)

Original rows with target: 304
Rows after augmentation: 912
                Player        Runs        Mat       Inns        NO        Avg  \
0          Aaron Finch  692.000000  26.000000  25.000000  3.000000  31.450000
1          Aditya Tare   26.000000   6.000000   5.000000  0.000000   5.200000
2       Ajinkya Rahane  862.000000  30.000000  30.000000  4.000000  33.150000
3        Akshdeep Nath   20.000000   5.000000   4.000000  0.000000   5.000000
4        Ambati Rayudu  425.000000  18.000000  17.000000  1.000000  26.560000
..                 ...         ...        ...        ...       ...        ...
907  Wanindu Hasaranga   26.696692   9.020645   4.945775  3.244698  16.267685
908  Washington Sundar   77.071765   6.900387   4.716560  0.956924  15.552203
909         Will Jacks  209.697905   8.270519   8.038131  1.029912  32.313875
910        Yash Thakur  -15.665464  -0.662595   0.300741  0.017054  -0.127884
911   Yuzvendra Chahal   -8.884295  -1.048790   0.281692  0.138337   1.042034

             BF          SR       100        50  ...   bow_inns          Ov  \
0    479.000000  144.470000  0.000000  7.000000  ...   0.000000    0.000000
1     38.000000   68.420000  0.000000  0.000000  ...   0.000000    0.000000
2    702.000000  122.790000  0.000000  8.000000  ...   0.000000    0.000000
3     28.000000   71.430000  0.000000  0.000000  ...   0.000000    0.000000
4    356.000000  119.380000  0.000000  3.000000  ...   0.000000    0.000000
..          ...         ...       ...       ...  ...        ...         ...
907   37.122781  117.007525  0.011463  0.083751  ...   8.177752   26.788564
908   50.736235   96.738967 -0.007877  0.019937  ...   8.664468   20.875180
909  138.041641  174.818831  0.999399  1.188427  ...   4.898937    9.069619
910  -12.797794    1.197536 -0.019838 -0.004965  ...  19.364421   66.240363
911    5.285958    2.556304  0.021057  0.077952  ...  28.384542  111.850558

       bow_runs       Wkts    bow_avg       Econ     bow_sr        4w  \
0      0.000000   0.000000   0.000000   0.000000   0.000000  0.000000
1      0.000000   0.000000   0.000000   0.000000   0.000000  0.000000
2      0.000000   0.000000   0.000000   0.000000   0.000000  0.000000
3      0.000000   0.000000   0.000000   0.000000   0.000000  0.000000
4      0.000000   0.000000   0.000000   0.000000   0.000000  0.000000
..          ...        ...        ...        ...        ...       ...
907  276.037458   9.061951  27.951714   9.340342  18.843638  0.017612
908  198.071075   4.887920  52.669644   9.718911  34.075919  0.013642
909   85.340950   1.636612  49.642188  10.968479  26.080157 -0.005675
910  711.772622  24.480000  29.630710  10.375698  16.310828  1.005666
911  985.814792  38.418069  23.381043   9.223351  16.464813  1.016290

           5w  auction Price
0    0.000000     62000000.0
1    0.000000      2000000.0
2    0.000000     40000000.0
3    0.000000     10000000.0
4    0.000000     22000000.0
..        ...            ...
907  0.009116     52500000.0
908 -0.003315     32000000.0
909  0.002009     52500000.0
910  1.006026     16000000.0
911  0.002433    180000000.0

[912 rows x 23 columns]

In [12]:
from pycaret.regression import *

regression_setup = setup(
    data=augmented_df,
    target='auction Price',
    session_id=42,
    
    use_gpu=False  
)

In [ ]:
print(augmented_df.head())

In [13]:
best_model = compare_models()
print(best_model)

ExtraTreesRegressor(n_jobs=-1, random_state=42)

In [14]:
final_model = finalize_model(best_model)

save_model(final_model, 'best_ipl_model')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=Memory(location=None),
          steps=[('numerical_imputer',
                  TransformerWrapper(include=['Runs', 'Mat', 'Inns', 'NO', 'Avg',
                                              'BF', 'SR', '100', '50', '4s',
                                              '6s', 'bow_mat', 'bow_inns', 'Ov',
                                              'bow_runs', 'Wkts', 'bow_avg',
                                              'Econ', 'bow_sr', '4w', '5w'],
                                     transformer=SimpleImputer())),
                 ('categorical_imputer',
                  TransformerWrapper(include=['Player'],
                                     transformer=SimpleImputer(strategy='most_frequent'))),
                 ('rest_encoding',
                  TransformerWrapper(include=['Player'],
                                     transformer=TargetEncoder(cols=['Player'],
                                                               handle_missing='return_nan'))),
                 ('clean_column_names',
                  TransformerWrapper(transformer=CleanColumnNames())),
                 ('actual_estimator',
                  ExtraTreesRegressor(n_jobs=-1, random_state=42))]),
 'best_ipl_model.pkl')

In [ ]:
df.columns

In [15]:
import pandas as pd
from pycaret.regression import load_model, predict_model

# 1. Load the trained model
model = load_model("best_ipl_model")

# 2. Get expected input columns
expected_columns = list(model.feature_names_in_)
print(" Model expects these columns:\n", expected_columns)

# 3. Load new player data
data = pd.read_excel(r"C:\Users\User\OneDrive\Desktop\Player data\Dataset\2023.csv.xlsx")

#  4. Strip and standardize input column names to avoid hidden mismatches
data.columns = data.columns.astype(str).str.strip()

# 5. Check for missing columns
missing_cols = [col for col in expected_columns if col not in data.columns]
if missing_cols:
    print(" Missing columns in input data:", missing_cols)

    
    print("\n Your data columns are:\n", list(data.columns))
else:
    print("All expected columns are present.")

Transformation Pipeline and Model Successfully Loaded
 Model expects these columns:
 ['Player', 'Runs', 'Mat', 'Inns', 'NO', 'Avg', 'BF', 'SR', '100', '50', '4s', '6s', 'bow_mat', 'bow_inns', 'Ov', 'bow_runs', 'Wkts', 'bow_avg', 'Econ', 'bow_sr', '4w', '5w', 'auction Price']
 Missing columns in input data: ['auction Price']

 Your data columns are:
 ['Player', 'Runs', 'Mat', 'Inns', 'NO', 'Avg', 'BF', 'SR', '100', '50', '4s', '6s', 'bow_mat', 'bow_inns', 'Ov', 'bow_runs', 'Wkts', 'bow_avg', 'Econ', 'bow_sr', '4w', '5w', 'prediction_label', 'prediction_label.1', 'prediction_label.2']

In [16]:
predictions = predict_model(model, data=data)
predictions.rename(columns={"Label": "Predicted Auction Price"}, inplace=True)

In [ ]:
# 7. Save the predictions to a new Excel file
predictions.to_excel(r"C:\Users\User\OneDrive\Desktop\Player data\Dataset\2023.csv.xlsx", index=False)
print("Prediction complete. Results saved to '2023_predictions.xlsx'")

In [ ]:
import pandas as pd

# Load your original file
m= pd.read_excel(r"C:\Users\User\OneDrive\Desktop\Player data\Dataset\2023.csv.xlsx")
m.to_excel(r"C:\Users\User\OneDrive\Desktop\Player data\Dataset\2023.csv.xlsx", index=False)

print("Cleaned and saved as '2023.xlsx'")

In [ ]:

print(df.dtypes[['100', '50']])

In [ ]:

print("📦 Your cleaned data columns:\n", m.columns.tolist())

In [ ]:
expected = set(model.feature_names_in_)
actual = set(df.columns)

missing = expected - actual
extra = actual - expected

if missing:
    print("❌ Missing columns in your data:", missing)
else:
    print("✅ All expected columns are present.")

if extra:
    print("ℹ️ Extra columns in your data (won’t be used):", extra)